@import url('style.css');

.portfolio__container {
}
.portfolio__section-header {
  margin-block-end: 36px;
}
.portfolio__section-header {
  animation: opacity 0.5s linear forwards, translateY 0.5s linear forwards;
}
.portfolio__navigation {
  animation: opacity 0.5s linear 0.3s forwards, translateY 0.5s linear 0.3s forwards;
}
.portfolio__projects {
  opacity: 0;
}
.portfolio__projects {
  animation: opacity 1s linear 0.6s forwards, translateY 1s linear 0.6s forwards;
}

@media (min-width: 767.98px) {
  .portfolio {
    padding-block: 92px 96px;
  }
  .portfolio__navigation {
    margin-block-end: 68px;
  }
  .portfolio__projects {
    margin-block-end: 64px;
  }
}
@media (max-width: 767.98px) {
  .portfolio {
    padding-block: 92px 72px;
  }
  .portfolio__navigation,
  .portfolio__projects {
    margin-block-end: 48px;
  }
  .contact-us__body {
    padding-block-start: 92px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
  }
}
