@import url('style.css');
@import url('home-common.css');

.portfolio__container {
}
.portfolio__section-header {
  margin-block-end: 36px;
}
.portfolio__section-header {
  animation: opacity 0.5s linear forwards, translateY 0.5s linear forwards;
}

.portfolio__navigation {
  color: rgba(255, 255, 255, 0.64);
  opacity: 0;
}
.portfolio__navigation {
  animation: opacity 0.5s linear 0.3s forwards, translateY 0.5s linear 0.3s forwards;
}
.portfolio__navigation ul li a {
  line-height: 2; /* 200% */
  transition: color 0.3s ease 0s;
}
.portfolio__navigation ul li sup {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71429; /* 171.429% */
  transform: translate(2px, -6px);
}
.portfolio__active {
  color: #fff;
}
.portfolio__projects {
  opacity: 0;
}
.portfolio__projects {
  animation: opacity 1s linear 0.6s forwards, translateY 1s linear 0.6s forwards;
}

.contact-us__body {
  position: relative;
  border-radius: 6px;
  background: #fdf0e9;
}
.contact-us__gift {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 148px;
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us__gift svg {
  position: relative;
  z-index: 2;
  max-width: 32px;
}
.contact-us__gift::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../img/icons/star.svg') 50% 50% / contain no-repeat;
  animation: around 10s linear infinite;
}

.contact-us__img {
  position: relative;
}
.contact-us__img img {
  position: relative;
  max-width: clamp(191px, 5.818vw + 169.184px, 239px);
  width: 100%;
}
.contact-us__img svg {
  position: absolute;
  max-width: 282px;
  min-width: 226px;
}
.contact-us__label {
  color: #ef6d58;
  line-height: 2; /* 200% */
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-block-end: 13px;
}
.contact-us__title {
  color: #391400;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33333; /* 133.333% */
  margin-block-end: 23px;
}
.contact-us__link {
  font-size: 0;
}
.contact-us__profile {
  max-width: 338px;
  position: relative;
  z-index: 1;
  font-size: 0;
}
.contact-us__profile svg,
.contact-us__profile::after,
.contact-us__profile::before {
  border-radius: 6px;
  box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
}
.contact-us__profile::after,
.contact-us__profile::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: -1;
}
.contact-us__profile::before {
  bottom: -16px;
  max-width: 81.0651%;
}
.contact-us__profile::after {
  bottom: -8px;
  max-width: 90.5325%;
}

.events__section-header {
  max-width: 426px;
  margin-inline: auto;
}

.team__arrows {
  display: flex;
  gap: 16px;
  font-size: 0;
}
.team__arrow {
  padding: 18px 16px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background 0.3s ease 0s;
}

.team__arrow svg {
  width: 14px;
  height: 10px;
}

.team__arrow--right {
  transform: rotateY(180deg);
}

.team__dots {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.team__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #4e4f6e;
  cursor: pointer;
  transition: background 0.3s ease 0s;
}
.team__dot--active {
  background: #ef6d58;
}

.founder__left {
  position: relative;
}
.founder__bg {
  border-radius: 12px;
  border: 1px solid #3a3c56;
  width: 100%;
}
.founder__person {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 84%;
}

.founder__label {
  color: #ef6d58;
  line-height: 2; /* 200% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.founder__text {
  font-size: clamp(24px, 1.939vw + 16.72px, 40px);
}
.founder__name {
  font-size: 20px;
  line-height: 1.6; /* 160% */
  margin-block-end: 6px;
}
.founder__position {
  color: rgba(255, 255, 255, 0.64);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71429; /* 171.429% */
}
@keyframes around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translateY {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media (min-width: 1199.98px) {
  .contact-us__body {
    padding-inline: 100px 83px;
  }
  .contact-us__gift {
    left: 84px;
  }
}
@media (min-width: 991.98px) {
  .portfolio__navigation ul li a:hover {
    color: #fff;
  }
  .portfolio__navigation ul li a:active {
    color: rgba(255, 255, 255, 0.64);
  }
  .team__arrow:hover {
    background: #fff;
  }
  .team__arrow:active {
    background: inherit;
  }
  .team__arrow:hover svg path {
    fill: #ef6d58;
  }
  .team__arrow:active svg path {
    fill: #fff;
  }
  .team__dot:hover {
    background: #ef6d58;
  }
}
@media (min-width: 767.98px) {
  .portfolio {
    padding-block: 92px 96px;
  }
  .contact-us {
    padding-block: 96px 70px;
  }
  .events {
    padding-block: 70px;
  }
  .team {
    padding-block: 70px 90px;
  }
  .founder {
    padding-block: 90px 176px;
  }
  .portfolio__navigation {
    margin-block-end: 68px;
  }
  .portfolio__navigation ul {
    gap: 46px;
  }
  .contact-us__img svg {
    left: -56px;
    bottom: 47px;
  }
  .contact-us__items {
    padding-block: 92px 64px;
    flex: 0 1 248px;
  }
  .contact-us__svg {
    margin-inline-end: 20px;
    flex: 0 1 338px;
  }
  .contact-us__img {
    margin-block-start: -60px;
  }
  .portfolio__projects,
  .events__section-header,
  .events__columns {
    margin-block-end: 64px;
  }
  .team__section-header {
    max-width: 531px;
  }
  .team__top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-end;
    margin-block-end: 64px;
  }
  .team__columns {
    margin-block-end: 52px;
  }
  .founder__container {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
  }
  .founder__left {
    flex: 0 1 570px;
  }
  .founder__right {
    flex: 0 1 470px;
    background: url('../img/icons/shape.svg') no-repeat right 46px top 9px;
  }
  .founder__label {
    margin-block-end: 33px;
  }
  .founder__text {
    line-height: 1.2; /* 120% */
    margin-block-end: 44px;
    font-weight: 800;
  }
}
@media (min-width: 479.98px) {
  .portfolio__navigation ul {
    display: flex;
    justify-content: center;
  }
  .portfolio__select {
    display: none;
  }
  .contact-us__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }
  .contact-us__items {
    align-self: flex-end;
  }
  .contact-us__img {
    flex: 0 1 239px;
    align-self: flex-end;
  }
}
@media (max-width: 1199.98px) {
  .contact-us__body {
    padding-inline: 20px;
  }
  .contact-us__gift {
    left: 12px;
  }
}
@media (max-width: 991.98px) {
}
@media (min-width: 479.98px) and (max-width: 767.98px) {
  .portfolio__navigation ul {
    gap: 20px;
    flex-wrap: wrap;
  }
  .contact-us__body {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
  }
  .contact-us__items {
    flex: 1 1 200px;
  }
  .contact-us__svg {
    flex: 1 1 250px;
    max-width: 338px;
  }
}
@media (max-width: 767.98px) {
  .portfolio {
    padding-block: 92px 72px;
  }
  .contact-us {
    padding-block: 72px 70px;
  }
  .events {
    padding-block: 70px 62px;
  }
  .team {
    padding-block: 62px 58px;
  }
  .founder {
    padding-block: 58px 88px;
  }
  .portfolio__navigation,
  .portfolio__projects,
  .events__columns {
    margin-block-end: 48px;
  }
  .contact-us__body {
    padding-block-start: 92px;
  }
  .contact-us__img {
    text-align: center;
  }
  .contact-us__img svg {
    left: 50%;
    bottom: 38px;
    transform: translate(-62%, 0px);
  }
  .events__section-header,
  .team__top {
    margin-block-end: 35px;
  }
  .team__columns {
    margin-block-end: 36px;
  }
  .founder__left {
    text-align: center;
    margin-block-end: 41px;
  }
  .founder__right {
    background: url('../img/icons/shape.svg') no-repeat right 0px top 9px;
  }
  .founder__label {
    margin-block-end: 29px;
  }
  .founder__text {
    margin-block-end: 23px;
    line-height: 1.33; /* 133.333% */
    font-weight: 700;
  }
  .team__arrows {
    display: none;
  }
}
@media (max-width: 479.98px) {
  .portfolio__select {
    position: relative;
  }
  .portfolio__select select {
    appearance: none;
    width: 100%;
    color: rgba(57, 20, 0, 0.64);
    line-height: 2; /* 200% */
    padding: 9px 16px 7px;
  }
  .portfolio__select::after {
    content: '';
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translate(0px, -50%);
    border-top: 6px solid #ef6d58;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  .contact-us__items {
    margin-block-end: 48px;
  }
  .contact-us__svg {
    text-align: center;
    margin-block-end: 52px;
  }
  .contact-us__profile {
    display: inline-block;
    width: 100%;
  }
  .portfolio__navigation ul {
    display: none;
  }
}
