@import url(style.css);
@import url(common.css);

.page__home {
  flex: 1 1 auto;
  margin: 50px 0px;
}
.home {
}

.summery__container h1 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}
.summery__container div > span {
  color: blue;
  background: yellow;
}
.summery__container div span + span {
  font-style: italic;
  color: white;
  background: blue;
}
.home__history .history__container a + p {
  color: #7a1010;
}
.history__container.min-container {
  color: rgb(20, 60, 23);
}
.cultural__container p span {
  font-style: italic;
}
.cultural__container a ~ p {
  color: green;
}
.beauty__container p + p {
  color: rgb(198, 48, 171);
}
.modern__container p ~ p {
  color: #306789;
}
.forward__container > p {
  color: #209319;
}
.star__container * {
  color: rgb(255, 0, 0);
}
.star__first-child,
.star__second-child {
  background: green;
}
/* 
#history {
}
#cultural {
}
#beauty {
}
#modern {
}
#forward {
}
#conclusion {
}
.min-container > h2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.min-container a > img {
  max-width: 500px;
  margin-bottom: 20px;
} 
  */
