body {
  color: #fff;
  font-family: 'Epilogue', sans-serif;
  background-color: #28293e;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

[class*='__container'] {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 15px;
}
@media (max-width: 479.98px) {
  [class*='__container'] {
    padding-inline: 23px;
  }
}
