@import url('style.css');

.custom {
  margin-block-end: 50px;
}
.custom h2 {
  font-size: 20px;
}
.custom__container {
}
.custom__cards {
  margin-block-end: 100px;
  font-size: 0;
  margin-inline: -30px;
}
.custom__card {
  display: inline-block;
  vertical-align: bottom;
  width: 400px;
  padding: 30px;
}
.custom__title {
  margin-block-end: 30px;
}
.custom__items,
.custom__span {
  height: 300px;
  background-color: rgba(255, 255, 255, 0.2);
}
.custom__item {
  padding: 10px;
  height: 300px;
  background-color: #7a956b;
  transition: all 0.8s ease 0s;
}
.custom__card:first-of-type .custom__item {
  transform: translate(-10%, 10%);
  /* transform: translate(-30px, 30px) */
}
.custom__span {
  width: 300px;
  padding: 10px;
  transform: translate(100px, 1000px);
}
.custom__card:nth-of-type(2) .custom__items:hover .custom__item {
  transform: scale(0.5);
}
.custom__card:nth-of-type(3) .custom__items:hover .custom__item {
  transform: rotate(135deg);
}
.custom__card:nth-of-type(4) .custom__items:hover .custom__item {
  transform: skew(-30deg, -10deg);
}
.custom__card:nth-of-type(5) .custom__items:hover .custom__item {
  transform: matrix(0.5, 1, 1, 1, 1, 2);
}
.custom__card:nth-of-type(6) .custom__items:hover .custom__item {
  transform: translate(20px, 20px) scale(0.5) rotate(-45deg) skew(-30deg);
}
.custom__card:nth-of-type(7) .custom__items:hover .custom__item {
  transform-origin: left;
  transform: rotate(45deg);
}
.custom__card:nth-of-type(8) .custom__items {
  perspective-origin: bottom;
  perspective: 400px;
}
.custom__card:nth-of-type(8) .custom__items:hover .custom__item {
  transform: rotateX(45deg);
}
.custom__card:nth-of-type(9) .custom__items {
  transform-style: preserve-3d;
  perspective: 400px;
}
.custom__card:nth-of-type(9) .custom__items:hover .custom__item {
  transform: rotateX(80deg);
}
.custom__card:nth-of-type(10) .custom__items {
  perspective: 400px;
}
.custom__card:nth-of-type(10) .custom__items:hover .custom__item {
  transform: translate3D(20px, 20px, 30px) scale3D(0.25, 0.5, 2) rotate3d(50, 50, 200, 50deg);
}
.custom__card:nth-of-type(11) .custom__items {
  perspective: 400px;
}
.custom__card:nth-of-type(11) .custom__items:hover .custom__item {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.cube {
  padding-block: 100px;
}
.cube__container {
  max-width: 1400px;
}
.cube__cards {
  font-size: 0;
  margin-inline: -20px;
}
.cube__card {
  display: inline-block;
  width: 350px;
  padding: 20px;
  vertical-align: top;
}
.cube__column {
  border: 1px solid hsl(40, 2%, 63%);
  padding-inline: 40px;
  padding-block: 40px 20px;
  cursor: pointer;
  perspective: 1000px;
}
.cube__column > p {
  font-size: 20px;
  text-align: center;
}
.cube__card:nth-of-type(1) .cube__column:hover .cube__body {
  transform: translate3d(-140px, -40px, 150px);
}
.cube__card:nth-of-type(2) .cube__column:hover .cube__body {
  transform: rotate3d(5, 4, 3, 180deg);
}
.cube__card:nth-of-type(3) .cube__column {
  position: relative;
  z-index: 1;
}
.cube__card:nth-of-type(3) .cube__column:hover .cube__body {
  transform: scale3D(2, 2, 5);
}
.cube__card:nth-of-type(4) .cube__column:hover .cube__body {
  transform: rotateX(320deg);
}
.cube__card:nth-of-type(5) .cube__column:hover .cube__body {
  transform: rotateY(320deg);
}
.cube__card:nth-of-type(6) .cube__column:hover .cube__body {
  transform: translate3d(-200px, -200px, 400px) rotate3d(1, 1, 7, 320deg);
}
.cube__body {
  position: relative;
  height: 228px;
  line-height: 228px;
  transform-style: preserve-3d;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  transition: all 1s ease 0s;
  font-size: 96px;
  margin-block-end: 30px;
}
.cube__side {
  position: absolute;
  inset: 0;
  background: rgb(179 179 179 / 80%);
  box-shadow: inset 0 0 22.375px hsl(0deg 0% 0%);
}
.cube__side--top {
  transform: translateY(-113.5px) rotateX(90deg);
}
.cube__side--right {
  transform: translateX(113.5px) rotateY(90deg);
}
.cube__side--bottom {
  transform: translateY(113.5px) rotateX(90deg);
}
.cube__side--left {
  transform: translateX(-113.5px) rotateY(90deg);
}
.cube__side--front {
  transform: translateZ(113.5px);
}
.cube__side--back {
  transform: translateZ(-113.5px);
}
.example {
  padding-block: 100px;
}
.example h2 {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-block-end: 50px;
}
.example__container {
}
.example__cards {
  font-size: 0;
  margin-inline: -20px;
}
.example__card {
  display: inline-block;
  padding: 20px;
  font-size: 24px;
  width: 25%;
}
.example__body {
  border: 2px solid #fff;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.example__body > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.example__cards .example__card:nth-of-type(1) .example__body > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  opacity: 0;
  background-color: #0000008d;
  transition: all 0.5s;
}
.example__cards .example__card:nth-of-type(1) .example__body:hover > div {
  transform: translateY(0);
  opacity: 1;
}
.example__cards .example__card:nth-of-type(1) .example__body div div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  border-radius: 16px;
  font-weight: 700;
  padding: 20px;
  background: #426ff4;
  transition: background 0.3s ease 0s;
}
.example__cards .example__card:nth-of-type(1) .example__body div div:hover {
  background: #6c8df0;
}
.example__cards .example__card:nth-of-type(1) .example__body div div:active {
  background: #426ff4;
}

.example__zoom {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 40%;
  height: 40%;
  border: 3px solid #182a5e;
  transform: translateX(140%);
  transition: transform 0.5s ease 0s;
  border-radius: 16px;
}
.example__zoom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.example__cards .example__card:nth-of-type(2) .example__body:hover .example__zoom {
  transform: translateX(0);
}
.example__name {
  position: absolute;
  bottom: 10%;
  inset-inline: 10%;
}
.example__name span {
  background: #182a5e;
  padding: 10px;
  border-radius: 16px;
  transition: background 0.3s ease 0s;
}
.example__name span:hover {
  background: #3f5493;
}
.example__front,
.example__back {
  position: absolute;
  inset: 0;
  font-size: 24px;
  text-align: center;
  transition: all 0.5s ease 0s;
  backface-visibility: hidden;
}
.example__back div {
  margin-block-end: 10px;
}
.example__back p {
  font-size: 20px;
}
.example__cards .example__card:nth-of-type(3) .example__body:hover .example__front {
  transform: rotateY(180deg);
}
.example__cards .example__card:nth-of-type(3) .example__body:hover .example__back {
  transform: rotateY(0deg);
}
.example__inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline: 10%;
  background: #182a5e;
  display: inline-block;
  padding: 10px;
  border-radius: 16px;
}
.example__back {
  transform: rotateY(180deg);
  background-color: #09ab9351;
}
.ship {
  padding-block: 100px;
  background: linear-gradient(0deg, #182a5e 0%, #426ff4 100%);
}
.ship__container {
}
.ship__picture {
  height: 800px;
}
.ship {
}
.ship__container {
  max-width: 1920px;
}
.ship__picture {
  position: relative;
}
.ship__body {
  position: absolute;
  left: 50%;
  bottom: 0px;
  height: 500px;
  width: 925px;
  transform: translate(-50%, 0px);
  transition: all 0.5s ease 0s;
}
.ship__body:hover .ship__sail:nth-of-type(1),
.ship__body:hover .ship__sail:nth-of-type(5) {
  height: 60px;
}
.ship__body:hover .ship__sail:nth-of-type(2),
.ship__body:hover .ship__sail:nth-of-type(3),
.ship__body:hover .ship__sail:nth-of-type(6) {
  height: 90px;
}
.ship__body:hover .ship__sail:nth-of-type(4) {
  height: 120px;
}
.ship__body:hover .ship__gunport span span {
  transform: translateY(-100%);
}
.ship__body:hover .ship__gunport > span {
  background: #645c4b;
}
.ship__bow,
.ship__decks,
.ship__stern {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    #8b5a2b 0%,
    #8b5a2b 15%,
    #000 16%,
    #8b5a2b 17%,
    #8b5a2b 30%,
    #000 31%,
    #8b5a2b 32%,
    #8b5a2b 45%,
    #000 46%,
    #8b5a2b 47%,
    #8b5a2b 60%,
    #000 61%,
    #8b5a2b 62%,
    #5d3a06 100%
  );
  height: 200px;
}
.ship__bow {
  left: 0;
  border-radius: 0px 0px 0% 50% / 0px 0px 0% 100%;
  width: 300px;
}
.ship__decks {
  left: 200px;
  width: 600px;
}
.ship__bow::before {
  content: '';
  position: absolute;
  width: 78px;
  height: 10px;
  top: -23px;
  left: -46px;
  transform: rotate(61deg);
  background: #8b5a2b;
}
.ship__bow::after,
.ship__decks::before,
.ship__stern::before {
  content: '';
  position: absolute;
  width: 30px;
  background: linear-gradient(#8b5a2b 0%, #8b5a2b 99%, #000 100%);
}
.ship__bow::after {
  height: 200px;
  top: -200px;
  right: 50px;
}
.ship__decks::before {
  height: 300px;
  top: -300px;
  left: 50%;
  transform: translate(-50%, 0px);
}
.ship__decks::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(#8b5a2b 0%, #8b5a2b 99%, #000 100%);
  border-radius: 6px 6px 50% 50% / 6px 6px 41% 41%;
  top: -300px;
  left: 50%;
  transform: translate(-50%, 0px);
}
.ship__stern {
  left: 700px;
  width: 200px;
  transform: skewX(-15deg);
}
.ship__stern::before {
  height: 200px;
  top: -200px;
  left: 0px;
  transform: skewX(15deg);
}
.ship__hold {
}
.ship__deck {
  position: absolute;
  z-index: 1;
  left: -100px;
  height: 20px;
  width: 800px;
  font-size: 0;
  margin-inline: -10px;
}
.ship__deck:nth-of-type(1) {
  top: 37px;
}
.ship__deck:nth-of-type(2) {
  top: 67px;
}
.ship__deck:nth-of-type(3) {
  top: 97px;
}
.ship__gunport {
  position: relative;
  display: inline-block;
  padding-inline: 10px;
  height: 100%;
}
.ship__gunport > span {
  display: inline-block;
  border: 1px solid #000;
  overflow: hidden;
  width: 20px;
  transition: all 0.5s ease 0s;
  height: 100%;
}
.ship__gunport span span {
  position: relative;
  display: inline-block;
  transition: all 0.5s ease 0s;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: #8b5a2b;
}
.ship__gunport > span::after {
  content: '';
  background: #000;
  position: absolute;
  height: 15px;
  width: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 3px solid #3f2b0e;
  z-index: 1;
}
.ship__sails {
}
.ship__sail {
  position: absolute;
  background: #fff;
  height: 10px;
  transition: all 0.5s ease 0s;
  border-top: 5px solid #8b5a2b;
  border-radius: 0px 0px 8px 8px;
}
.ship__sail:nth-of-type(1),
.ship__sail:nth-of-type(5) {
  width: 80px;
}
.ship__sail:nth-of-type(2),
.ship__sail:nth-of-type(3),
.ship__sail:nth-of-type(6) {
  width: 125px;
}
.ship__sail:nth-of-type(1) {
  top: 120px;
  left: 194px;
}
.ship__sail:nth-of-type(2) {
  top: 200px;
  left: 173px;
}
.ship__sail:nth-of-type(3) {
  top: 60px;
  left: 437px;
}
.ship__sail:nth-of-type(4) {
  top: 170px;
  left: 415px;
  width: 165px;
}
.ship__sail:nth-of-type(5) {
  top: 120px;
  right: 117px;
}
.ship__sail:nth-of-type(6) {
  top: 200px;
  right: 95px;
}
