@import url('style.css');

.custom h2 {
  font-size: 32px;
  font-weight: 700;
  display: inline-block;
}
.custom h2:first-of-type::before {
  content: 'before';
  margin-inline-end: 20px;
}
.custom h2:first-of-type:after {
  content: 'after';
  margin-inline-start: 20px;
}

.custom h3 {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  margin-block-end: 20px;
}
.custom h2:hover {
  color: gold;
}
.custom h3:hover {
  color: #b21010;
}
.custom__hover p:first-of-type:hover {
  color: green;
}
.custom__hover p:nth-of-type(2) {
  opacity: 0;
  visibility: hidden;
}
.custom__hover:hover p:nth-of-type(2) {
  opacity: 1;
  visibility: visible;
}
.custom__hover p:nth-of-type(odd) {
  color: #3e26c5;
}
.custom__hover p:nth-of-type(even) {
  color: #299d29;
}
.custom__hover p:nth-of-type(3n) {
  background: #299d29;
}
.custom__hover p:nth-of-type(4n + 1) {
  background: #3d753d;
}
.custom__container > * {
  margin-block-end: 20px;
}
.custom__container > *:last-child {
  margin-block-end: 0;
}
.custom__visited a:hover {
  color: #b1aaaa;
}
.custom__visited a:active {
  color: #6a6767;
}
.custom__visited a:visited {
  color: #686666;
}
.custom__visited a:focus-visible {
  background: rgb(22, 10, 58);
}
.custom__target {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}
.custom__target li {
  display: inline-block;
}
.custom__target li:not(:last-child) {
  margin-inline-end: 20px;
}
.custom__target li a:hover {
  color: #c7ee18;
}
.custom__target li a:active {
  color: #5f720d;
}
#timeline:target {
  background-color: #dae387;
}
#plans:target {
  background-color: #6d8b21;
}
#agency:target {
  background-color: #d7cbff;
}
.game {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-block: 106px;
  color: #1e1b39;
}
.game h2 {
  color: #fff;
  text-shadow: 1px 1px 1px #fff, 1px 1px 5px #fff, 1px 1px 10px #fff;
  padding-block: 20px;
}
.game__container {
  background-image: url('../img/game.jpg');
  background-repeat: no-repeat;
  max-width: 1024px;
}
.game__mini-container {
  height: 1024px;
}
.game__mini-container:hover {
  background-image: url('../img/1.png'), url('../img/1.png'), url('../img/1.png'),
    url('../img/1.png'), url('../img/1.png'), url('../img/1.png'), url('../img/1.png');
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: 4% 36%, 29% 36%, 55% 36%, 70% 55%, 64% 75%, 43% 80%;
}
.game__mini-container > div {
  cursor: move;
  background: #fff;
  visibility: hidden;
}
.game__mini-container div:first-of-type:hover ~ div:nth-of-type(2),
div:nth-of-type(2):hover,
.game__mini-container div:nth-of-type(2):hover ~ div:nth-of-type(3),
div:nth-of-type(3):hover,
.game__mini-container div:nth-of-type(3):hover ~ div:nth-of-type(4),
div:nth-of-type(4):hover,
.game__mini-container div:nth-of-type(4):hover ~ div:nth-of-type(5),
div:nth-of-type(5):hover,
.game__mini-container div:nth-of-type(5):hover ~ div:nth-of-type(6),
div:nth-of-type(6):hover,
.game__mini-container div:nth-of-type(6):hover ~ div:nth-of-type(7),
div:nth-of-type(7):hover,
.game__mini-container div:nth-of-type(7):hover ~ div:nth-of-type(8),
div:nth-of-type(8):hover,
.game__mini-container div:nth-of-type(8):hover ~ div:nth-of-type(9),
div:nth-of-type(9):hover,
.game__mini-container div:nth-of-type(9):hover ~ div:nth-of-type(10),
div:nth-of-type(10):hover,
.game__mini-container div:nth-of-type(10):hover ~ div:nth-of-type(11),
div:nth-of-type(11):hover,
.game__mini-container div:nth-of-type(11):hover ~ div:nth-of-type(12),
div:nth-of-type(12):hover,
.game__mini-container div:nth-of-type(12):hover ~ div:nth-of-type(13),
div:nth-of-type(13):hover {
  visibility: visible;
}
.game__mini-container div:first-of-type {
  width: 200px;
  height: 50px;
  margin-inline: auto;
  line-height: 1.5;
  visibility: visible;
}
.game__mini-container div:nth-of-type(2) {
  margin-inline-start: 450px;
  width: 20px;
  height: 120px;
}
.game__mini-container div:nth-of-type(3) {
  margin-inline-start: 450px;
  width: 350px;
  height: 20px;
}
.game__mini-container div:nth-of-type(4) {
  margin-inline-start: 780px;
  width: 20px;
  height: 200px;
}
.game__mini-container div:nth-of-type(5) {
  margin-inline-start: 780px;
  width: 90px;
  height: 20px;
}
.game__mini-container div:nth-of-type(6) {
  margin-inline-start: 850px;
  width: 20px;
  height: 300px;
}
.game__mini-container div:nth-of-type(7) {
  margin-inline-start: 720px;
  width: 150px;
  height: 20px;
}

.game__mini-container div:nth-of-type(8) {
  margin-inline-start: 720px;
  width: 20px;
  height: 110px;
}
.game__mini-container div:nth-of-type(9) {
  margin-inline-start: 120px;
  width: 620px;
  height: 20px;
}
.game__mini-container div:nth-of-type(10) {
  margin-inline-start: 120px;
  width: 20px;
  height: 370px;
  margin-block-start: -370px;
}
.game__mini-container div:nth-of-type(11) {
  margin-inline-start: 120px;
  width: 250px;
  height: 10px;
  margin-block-start: -370px;
}
.game__mini-container div:nth-of-type(12) {
  width: 150px;
  height: 150px;
  margin-block-start: -70px;
  margin-inline: 360px;
}
.game__mini-container div:nth-of-type(13) {
  width: 1024px;
  height: 1024px;
  background-image: url('../img/finish.jpg');
  background-repeat: no-repeat;
  margin-block-start: -652px;
  margin-inline-start: -10px;
}
.game__mini-container div:nth-of-type(13)::before {
  content: 'Congratulations!';
  padding: 5%;
  background: #1e1b39;
  color: #fff;
  text-shadow: 1px 1px 1px #fff, 1px 1px 5px #fff, 1px 1px 10px #fff;
}

.timeline {
  font-family: 'DM Sans', sans-serif;
  background: #fff;
  color: #1e1b39;
  padding-block: 106px;
}
.timeline__container {
  max-width: 1728px;
  font-size: 0;
}
.timeline__body {
  display: inline-block;
  width: 40.5%;
  margin-inline-end: 7.5%;
  font-size: 18px;
  vertical-align: middle;
}
.timeline__body img {
  margin-block-end: 28px;
}
.timeline__title {
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  line-height: 1.08; /* 107.955% */
  margin-block-end: 20px;
}
.timeline__text {
  color: #6e6c83;
  font-size: 24px;
  line-height: 1.75; /* 175% */
}
.timeline__posts {
}
.posts {
  display: inline-block;
  width: 52%;
  vertical-align: middle;
  counter-reset: section;
}
.posts > * {
  margin-block-end: 58px;
}
.posts > a::before {
  counter-increment: section;
  content: '0' counter(section);
  width: 218px;
  height: 218px;
  border-radius: 50%;
  background-color: rgb(74, 58, 255, 0.1);
  vertical-align: middle;
  margin-inline-end: 40px;
  color: #4a3aff;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  line-height: 1.08; /* 107.955% */
  padding-block: 62px;
}
.posts > a:hover {
  opacity: 0.8;
}
.posts > a:hover::before {
  background-color: #9a91ff;
  color: #1500ff;
}
.posts > a:active {
  opacity: 1;
}
.posts > a:active::before {
  background-color: rgb(74, 58, 255, 0.1);
  color: #4a3aff;
}
.posts a > div {
  max-width: 630px;
  display: inline-block;
  vertical-align: middle;
}
.posts a div > * {
  margin-block-end: 8px;
}
.posts a div > *:last-child {
  margin-block-end: 0px;
}
.posts a div div {
  color: #4a3aff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1; /* 110% */
}
.posts a div h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.286; /* 128.571% */
}
.posts a div h3::after {
  content: '';
  background-repeat: no-repeat;
  width: 43px;
  height: 43px;
  margin-inline-start: 10px;
}
.posts a:nth-of-type(3n + 1) div h3:after {
  background-image: url('../img/search.png');
}
.posts a:nth-of-type(3n + 2) div h3:after {
  background-image: url('../img/laptop.png');
}
.posts a:nth-of-type(3n) div h3:after {
  background-image: url('../img/rocket.png');
}
.posts a div p {
  color: #6e6c83;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.plans {
  font-family: 'DM Sans', sans-serif;
  background: #fff;
  color: #1e1b39;
  padding-block: 106px;
  font-weight: 700;
}
.plans h2 {
  font-size: 88px;
  line-height: 1.08; /* 107.955% */
  margin-block-end: 50px;
}
.plans__container {
  max-width: 1728px;
}
.plans__columns {
  margin-inline: -19.5px;
  font-size: 0;
}
.plans__column {
  border-radius: 56px;
  background: #f0f0f6;
  width: 31.08%;
  margin-inline: 19.5px;
}
.plans__column:hover {
  opacity: 0.8;
}
.plans__column:active {
  opacity: 1;
}
.plans__top {
  padding: 24px 24px 34px 24px;
}
.plans__body {
  border-radius: 34px;
  background: #4a3aff;
  color: #fff;
  text-align: center;
  padding-block: 44.6px;
  padding-inline: 10px;
}
.plans__plan {
  font-size: 30px;
  line-height: 1.067; /* 106.667% */
}
.plans__price {
  font-size: 116px;
  line-height: 1.034; /* 103.448% */
}
.plans__price::before {
  content: '$';
}
.plans__subscription {
  font-size: 20px;
  line-height: 1.1; /* 110% */
  color: rgb(255, 255, 255, 0.6);
}
.plans__items {
  padding-inline: 37px 24px;
  padding-block-end: 58px;
}
.plans__items li {
  font-size: 28px;
  line-height: 1.357; /* 135.714% */
  margin-block-end: 26px;
}
.plans__items li:last-child {
  margin-block-end: 0;
}
.plans__items li::before {
  content: '';
  background-image: url('../img/check.svg');
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  margin-inline-end: 14px;
}
.agency {
  background: #fdf0e9;
  color: rgba(57, 20, 0, 0.64);
  font-family: 'Epilogue', sans-serif;
  padding-block: 106px;
}
.agency img {
  margin-block-end: 74px;
  display: block;
  margin-inline: auto;
}
.mini-container h2,
.mini-container h3,
.mini-container ul,
.mini-container > div:has(div) {
  color: #391400;
}
.mini-container h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.333; /* 133.333% */
  margin-block-end: 35px;
}
.mini-container h3 {
  font-size: 20px;
  line-height: 1.6; /* 160% */
  margin-block-end: 32px;
}
.agency__container {
  max-width: 1190px;
}
.mini-container {
  max-width: 570px;
  margin-inline: auto;
}
.mini-container > * {
  margin-block-end: 28px;
}
.mini-container > *:last-child {
  margin-block-end: 0;
}
.agency__card {
}
.mini-container > div,
ul {
  line-height: 2; /* 200% */
}
.mini-container > div:nth-of-type(1) {
  margin-block-end: 51px;
}
.mini-container > div:nth-of-type(2) {
  margin-block-end: 34px;
}
.mini-container > ul {
  margin-block-end: 32px;
}
.mini-container > ul:nth-of-type(1) li::before {
  content: '';
  width: 8px;
  height: 8px;
  background: #ef6d58;
  border-radius: 50%;
  margin-inline-end: 16px;
  margin-block-end: 3px;
  vertical-align: middle;
}
.mini-container > div:nth-of-type(3) {
  margin-block-end: 65px;
}
.mini-container > div:nth-of-type(4) {
  margin-block-end: 28px;
}
.mini-container > ul:nth-of-type(2) {
  counter-reset: item;
}
.mini-container > ul:nth-of-type(2) li::before {
  counter-increment: item;
  content: counter(item) '.';
  vertical-align: middle;
  margin-inline-end: 6px;
}
.mini-container > div:nth-of-type(5) {
  margin-block-end: 69px;
}
.mini-container > div:has(div) {
  border-radius: 6px;
  background: #f9e5da;
  padding: 42px 32px 32px 32px;
  margin-block-end: 76px;
  display: inline-block;
  font-size: 0;
}
.mini-container > div:has(div) div {
  font-size: 20px;
  line-height: 1.6; /* 160% */
  display: inline-block;
  max-width: 426px;
}
.mini-container > div:has(div)::before {
  content: '';
  background-image: url('../img/shape.svg');
  background-repeat: no-repeat;
  width: 48px;
  height: 36px;
  vertical-align: top;
  margin-block-start: -2px;
  margin-inline-end: 32px;
}
